.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}
main {
    display: flex;
    flex-direction: row;
}
.container{
    margin-right: 20%;
}
h3{
    text-align: center;
}
.zolo{
    display: flex;
    flex-direction: column;
    
}
#imgInp{
    height: 80px;
}